<ul>

    <li><strong>{{ contacto.nombre }}</strong></li>

    <li><strong>Teléfono</strong>: {{ contacto.telefono }}</li>
    {% if contacto.distribuidor %}
    <li><strong>distribuidor: </strong>{{contacto.distribuidor.nombre}}</li>
    {% endif %}

    <li><strong>Correo: </strong>: {{ contacto.email }}</li>

</ul>