<ul>

    <li><strong>{{ gimnasio.nombre }}</strong></li>

    <li><strong>Teléfono</strong>: {{ gimnasio.telefono }}</li>
    {% if gimnasio.distribuidor %}
    <li><strong>distribuidor: </strong>{{gimnasio.distribuidor.nombre}}</li>
    {% endif %}

    <li><strong>Correo: </strong>: {{ gimnasio.email }}</li>

</ul>